//// ================ Gilroy-Bold ================
//@include font_face(Gilroy-Bold, Gilroy-Bold);
//
//%bold {
//  font-family: 'Gilroy-Bold', sans-serif;
//}
//
//// ################ Gilroy-Bold ################
//
//// ================ Roboto-Bold-Condensed ==============
//@include font_face(Gilroy-ExtraBold, Gilroy-ExtraBold);
//
//%extrebold {
//  font-family: 'Gilroy-ExtraBold', sans-serif;
//}
//
//// ################### Gilroy-ExtraBold ###################
//
//// ================ Gilroy-Medium ==================
//@include font_face(Gilroy-Medium, Gilroy-Medium);
//
//%medium {
//  font-family: 'Gilroy-Medium', sans-serif;
//}
//
//// ################### Gilroy-Medium ################
//
//// ================ Gilroy-Regular ==================
//@include font_face(Gilroy-Regular, Gilroy-Regular);
//
//%regular {
//  font-family: 'Gilroy-Regular', sans-serif;
//}
//
//// ################### Gilroy-Regular ################
//
//// ================ Gilroy-SemiBold ==================
//@include font_face(Gilroy-SemiBold, Gilroy-SemiBold);
//
//%semibold {
//  font-family: 'Gilroy-SemiBold', sans-serif;
//}
//
//// ################### Gilroy-SemiBold ################
//
//// ====================== Font sizes =======================
//%ttu {
//  text-transform: uppercase;
//}
%_title {
  color: red;
}
