body {
  overflow-x: hidden;
}

%flex-fill {
  flex: 1 1 auto;
}

.-flex-fill {
  flex: 1 1 auto;
}

%flex-new-line {
  flex: 1 0 100%;
  height: 0;
}

.-flex-new-line {
  @extend %flex-new-line;
}

.-no-wrap {
  white-space: nowrap;
}
