//---------------------------------------------fonts
$font_path: "~static/fonts/";
$font_base: sans-serif;
$font_size_base: 16px;
//---------------------------------------------fonts###

//---------------------------------------------Imagws path
$img_dir: '~assets/img/';
//---------------------------------------------Imagws path###

//---------------------------------------------colors
$black: #000;

// Primary colors
$accent: rgb(116, 129, 255);
$content: rgb(65, 69, 107);
$white: #fff;

// Secondary colors

$opacity: rgba(116, 129, 255, 0.2);
$gray: rgb(215, 215, 215);
$text: rgb(96, 98, 118);

// Neutrals
$error: rgb(245, 78, 78);

// Hover
$primary: rgb(98, 112, 255);


$body_bg: $white;
$scroll_bar_color: $white;
$scroll_thumb_color: $black;
//---------------------------------------------colors###
